    @charset "utf-8";
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Meiryo UI W53";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Meiryo UI W53 Regular.eot");
    src: url("../fonts/Meiryo UI W53 Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Meiryo UI W53 Regular.woff2") format("woff2"), url("../fonts/Meiryo UI W53 Regular.woff") format("woff"), url("../fonts/Meiryo UI W53 Regular.ttf") format("truetype"), url("../fonts/Meiryo UI W53 Regular.svg#Meiryo UI W53 Regular") format("svg");
}

@font-face {
    font-family: "Meiryo UI W53";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Meiryo UI W53 Bold.eot");
    src: url("../fonts/Meiryo UI W53 Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Meiryo UI W53 Bold.woff2") format("woff2"), url("../fonts/Meiryo UI W53 Bold.woff") format("woff"), url("../fonts/Meiryo UI W53 Bold.ttf") format("truetype"), url("../fonts/Meiryo UI W53 Bold.svg#Meiryo UI W53 Bold") format("svg");
}

@font-face {
    font-family: "Meiryo UI W53";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Meiryo UI W53 Italic.eot");
    src: url("../fonts/Meiryo UI W53 Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Meiryo UI W53 Italic.woff2") format("woff2"), url("../fonts/Meiryo UI W53 Italic.woff") format("woff"), url("../fonts/Meiryo UI W53 Italic.ttf") format("truetype"), url("../fonts/Meiryo UI W53 Italic.svg#Meiryo UI W53 Italic") format("svg");
}

@font-face {
    font-family: "Meiryo UI W53";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/Meiryo UI W53 Bold Italic.eot");
    src: url("../fonts/Meiryo UI W53 Bold Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Meiryo UI W53 Bold Italic.woff2") format("woff2"), url("../fonts/Meiryo UI W53 Bold Italic.woff") format("woff"), url("../fonts/Meiryo UI W53 Bold Italic.ttf") format("truetype"), url("../fonts/Meiryo UI W53 Bold Italic.svg#Meiryo UI W53 Bold Italic") format("svg");
}

@font-face {
    font-family: "Kozuka Gothic Pro";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Kozuka Gothic Pro L.eot");
    src: url("../fonts/Kozuka Gothic Pro L.eot?#iefix") format("embedded-opentype"), url("../fonts/Kozuka Gothic Pro L.woff2") format("woff2"), url("../fonts/Kozuka Gothic Pro L.woff") format("woff"), url("../fonts/Kozuka Gothic Pro L.ttf") format("truetype"), url("../fonts/Kozuka Gothic Pro L.svg#Kozuka Gothic Pro L") format("svg");
}

@font-face {
    font-family: "Kozuka Gothic Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Kozuka Gothic Pro R.eot");
    src: url("../fonts/Kozuka Gothic Pro R.eot?#iefix") format("embedded-opentype"), url("../fonts/Kozuka Gothic Pro R.woff2") format("woff2"), url("../fonts/Kozuka Gothic Pro R.woff") format("woff"), url("../fonts/Kozuka Gothic Pro R.ttf") format("truetype"), url("../fonts/Kozuka Gothic Pro R.svg#Kozuka Gothic Pro R") format("svg");
}

@font-face {
    font-family: "Kozuka Gothic Pro";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Kozuka Gothic Pro M.eot");
    src: url("../fonts/Kozuka Gothic Pro M.eot?#iefix") format("embedded-opentype"), url("../fonts/Kozuka Gothic Pro M.woff2") format("woff2"), url("../fonts/Kozuka Gothic Pro M.woff") format("woff"), url("../fonts/Kozuka Gothic Pro M.ttf") format("truetype"), url("../fonts/Kozuka Gothic Pro M.svg#Kozuka Gothic Pro M") format("svg");
}

@font-face {
    font-family: "Kozuka Gothic Pro";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Kozuka Gothic Pro B.eot");
    src: url("../fonts/Kozuka Gothic Pro B.eot?#iefix") format("embedded-opentype"), url("../fonts/Kozuka Gothic Pro B.woff2") format("woff2"), url("../fonts/Kozuka Gothic Pro B.woff") format("woff"), url("../fonts/Kozuka Gothic Pro B.ttf") format("truetype"), url("../fonts/Kozuka Gothic Pro B.svg#Kozuka Gothic Pro B") format("svg");
}

@font-face {
    font-family: "Kozuka Gothic Pro";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Kozuka Gothic Pro H.eot");
    src: url("../fonts/Kozuka Gothic Pro H.eot?#iefix") format("embedded-opentype"), url("../fonts/Kozuka Gothic Pro H.woff2") format("woff2"), url("../fonts/Kozuka Gothic Pro H.woff") format("woff"), url("../fonts/Kozuka Gothic Pro H.ttf") format("truetype"), url("../fonts/Kozuka Gothic Pro H.svg#Kozuka Gothic Pro H") format("svg");
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/notokr-light.eot');
    src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'), url('../fonts/notokr-light.woff') format('woff'), url('../fonts/notokr-light.ttf') format('truetype'), url('../fonts/notokr-light.svg#notokr-light') format('svg');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/notokr-demilight.eot');
    src: url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'), url('../fonts/notokr-demilight.woff') format('woff'), url('../fonts/notokr-demilight.ttf') format('truetype'), url('../fonts/notokr-demilight.svg#notokr-demilight') format('svg');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/notokr-regular.eot');
    src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/notokr-regular.woff') format('woff'), url('../fonts/notokr-regular.ttf') format('truetype'), url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/notokr-medium.eot');
    src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/notokr-medium.woff') format('woff'), url('../fonts/notokr-medium.ttf') format('truetype'), url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/notokr-bold.eot');
    src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/notokr-bold.woff') format('woff'), url('../fonts/notokr-bold.ttf') format('truetype'), url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
}

html {}

html,
body {}

::-moz-selection {
    color: white;
    background-color: #003775;
    -webkit-text-stroke: initial;
}

::selection {
    color: white;
    background-color: #003775;
    -webkit-text-stroke: initial;
}


/* CSS Reset * /
html{font-size:10px} /* 브라우저기본 16px 12pt 1rem 62.5% (10px) * /

@media all and (max-width:1199px){
	html{font-size:8.5px;}
}
@media all and (max-width:767px){
	html{font-size:7px;}
}
@media all and (max-width:479px){
	html{font-size:6px;}
}
*/

body {
    font-family: 'Roboto', 'Meiryo UI W53', 'Noto Sans Korean', 'Noto Sans KR', 'Myriad Pro', '돋움', 'dotum', 'sans-serif';
    font-size: 16px;
    font-weight: 600;
    color: black;
    min-width: 320px;
    -webkit-text-size-adjust: none;
    /* 모바일에서 text 사이즈 변동 없게 */
    -webkit-font-smoothing: subpixel-antialiased;
    /* antialiased or subpixel-antialiased 웹킷 브라우저 웹폰트 선명하게 처리 */
    font-variant-ligatures: none;
    /* fi수정 */
}

@media screen and (max-width:1240px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-width:767px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width:479px) {
    body {
        font-size: 13px;
    }
}

button {
    font-family: 'Roboto', 'Meiryo UI W53', 'Noto Sans Korean', 'Noto Sans KR', 'Myriad Pro', '돋움', 'dotum', 'sans-serif';
    cursor: pointer
}

img {
    max-width: 100%;
    line-height: 0;
    font-size: 0;
    /*image-rendering:optimizeSpeed;*/
    /* low quality */
    /*image-rendering:optimizeQuality;*/
    /* high quality */
    -ms-interpolation-mode: bicubic;
    /* blur */
    /* -ms-interpolation-mode:nearest-neighbor;/* sharpen */
    /*-webkit-backface-visibility:hidden;/* css3이면가시성속성 */
    /*backface-visibility:hidden;*/
}


/* reset */

* {
    vertical-align: top;
    box-sizing: border-box;
}

body,
button,
input,
textarea,
select,
table,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: unset;
    /*word-break:keep-all;*/
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
label,
button,
input,
textarea,
select,
optgroup,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
    display: block
}

blockquote,
q {
    quotes: none
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

template {
    display: none
}

[hidden] {
    display: none
}

summary {
    display: list-item
}

pre {
    font: inherit;
    color: inherit;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-break: break-all;
}

ol,
ul {
    list-style: none
}

dt,
dd {
    display: block
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
legend {
    overflow: hidden;
    font-size: 0;
    line-height: 0
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

svg:not(:root) {
    overflow: hidden
}

canvas {
    display: inline-block
}

img {
    max-width: 100%;
    border-style: none;
    vertical-align: top
}

fieldset,
img {
    border: none
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

input,
button,
select {
    vertical-align: top
}

input,
button,
select,
textarea {
    font-size: inherit;
    box-sizing: border-box;
}

input[disabled],
input[readonly] {
    /*cursor:not-allowed;background-color:#eaeaea;*/
}

::placeholder {
    color: #bdc0cc;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #bdc0cc;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #bdc0cc;
    opacity: 1;
}

::-moz-placeholder {
    color: #bdc0cc;
    opacity: 1;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    border: 0 none;
    background: none;
    cursor: pointer;
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type="checkbox"],
[type="radio"] {}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

textarea {
    display: block;
    overflow: auto;
    resize: vertical;
}

input,
textarea,
input::placeholder,
textarea::placeholder,
.file-name {
    font-family: 'Roboto', 'Noto Sans Korean', 'Noto Sans KR';
}

input,
textarea {
    color: #1e1e1e;
}

input::placeholder,
textarea::placeholder,
.file-name {
    color: #d1d1d1;
}

input.strong {
    background-color: #fbfbfb
}

input.strong::placeholder {
    color: #000000;
}

address,
em,
i {
    font-style: normal
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: inherit;
    cursor: pointer;
    text-decoration: none
}

a:link,
a:visited {
    text-decoration: none
}

a:hover,
a:active,
a:focus {
    text-decoration: none
}

.ir {
    overflow: hidden;
    height: 0;
    font-size: 0;
    text-indent: -9999px;
}

.blind {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0
}

.clear {
    *zoom: 1
}

.clear:after {
    content: ' ';
    display: block;
    clear: both;
}

.cb {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.none_blank {
    font-size: 0;
    line-height: 0;
    letter-spacing: -4px;
}


/* 이미지여백삭제 (letter-spacing:window 사파리) */

@-moz-document url-prefix() {
    .none_blank {
        letter-spacing: 0;
    }
}


/* Forms Style */

input,
button,
.select,
textarea {
    font-size: inherit;
    color: inherit;
}

#header .header-lang button {
    color: white;
}

[type="text"],
[type="password"],
select,
button {
    height: 50px;
    line-height: 50px;
}

[type="text"],
[type="password"],
select {
    padding: 0 20px;
}

[type="text"],
[type="password"],
select,
textarea {
    width: 100%;
    border: 1px solid #d8dbe6;
    border-radius: 2px;
    font-size: 16px;
    letter-spacing: -0.32px;
    color: #000000;
}


/* LUAN TOUCHED HERE */

select {
    background: #fff url(../images/sub/atrists_search_arrow.png) right 16px center no-repeat;
    /*appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;vertical-align:middle;}
select::-ms-expand{display:none;}*/
    textarea {
        height: 150px;
        padding: 20px;
    }
    button {
        background: #575c63;
        color: #fff;
    }
    .dash {
        text-align: center;
    }
    [type="checkbox"],
    [type="radio"] {
        display: inline-block;
        width: 21px;
        height: 21px;
        vertical-align: top;
    }
    [type="checkbox"]+label,
    [type="radio"]+label {
        display: inline-block;
        margin-left: 3px;
        vertical-align: top;
        line-height: 21px;
        font-size: 14px;
        letter-spacing: -0.42px;
        text-align: left;
        color: #747774;
    }
    [type="checkbox"]+label em {
        text-decoration: underline;
    }
    .box-check {
        position: relative
    }
    .box-check>div {
        position: relative;
        display: inline-block;
        margin: 2px 10px 2px 0;
    }
    .box-check [type="checkbox"],
    .box-check [type="radio"] {
        /*position:absolute;top:0;left:0;*/
        position: absolute;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }
    .box-check label {
        display: inline-block;
        padding-left: 26px;
        vertical-align: top;
        line-height: 21px;
    }
    .box-check label+[type="checkbox"],
    .box-check label+[type="radio"] {
        margin-left: 0
    }
    .box-check input[type="checkbox"]+label {
        background: url(../images/sub/icon_check_off.png) 0 0 no-repeat;
        overflow: hidden
    }
    .box-check input[type="checkbox"]:checked+label {
        background: url(../images/sub/icon_check_on.png) 0 0 no-repeat;
        overflow: hidden
    }
    .box-check input[type="radio"]+label {
        background: url(../images/sub/icon_radio_off.png) 0 0 no-repeat;
        overflow: hidden
    }
    .box-check input[type="radio"]:checked+label {
        background: url(../images/sub/icon_radio_on.png) 0 0 no-repeat;
        overflow: hidden
    }
    /* 모달 윈도우 */
    .modal-wrap {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        z-index: 1000;
    }
    .modal-wrap .modal-content {
        position: relative;
        width: 460px;
        margin: 0 auto;
        padding: 0;
        max-height: 100%;
    }
    .modal-wrap .modal-close {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 28px;
        height: 28px;
        text-align: center;
        cursor: pointer;
        background: url(../images/sub/modal_close.png) 50% 50% no-repeat;
        text-indent: -9999px;
    }
    .modal-body {
        padding: 39px 60px 40px;
        background: #fff;
    }
    .modal-title {
        padding: 64px 0 14px;
        border-bottom: 1px solid #747774;
        background: url(../images/sub/modal_leave_bg.png) no-repeat 50% 0;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -0.48px;
        text-align: center;
        color: #333333;
    }
    .modal-text {
        margin-top: 50px;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.32px;
        text-align: center;
        color: #747774;
    }
    .modal-button {
        margin-top: 48px;
        text-align: center
    }
    .modal-button:after {
        display: block;
        clear: both;
        content: '';
    }
    .modal-button button {
        display: inline-block;
        width: 150px;
        height: 50px;
        margin: 0 5px;
        border: solid 1px #5715ff;
        background-color: #5715ff;
        font-size: 16px;
        color: #ffffff;
    }
    .modal-button button.cancel {
        border: solid 1px #b4b4b4;
        background: #fff;
        color: #636363;
    }
    .modal-artwork {
        padding: 30px 0;
    }
    .modal-artwork .modal-frame {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .modal-artwork .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1280px;
        transform: translate(-50%, -50%);
        overflow-y: auto;
        overflow-x: visible;
        background: #fff;
    }
    .modal-artwork .modal-body {
        width: 100%;
        padding: 0;
    }
    .modal-artwork-head {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        ;
        height: 60px;
        padding: 10px 20px 0;
        background: #ffffff;
        z-index: 10
    }
    .modal-artwork-head:after {
        display: block;
        clear: both;
        content: '';
    }
    .modal-artwork-head .profile {
        float: left;
        margin-right: 10px;
    }
    .modal-artwork-head .profile img {
        width: 40px;
        height: 40px;
    }
    .modal-artwork-head .info {
        float: left;
        text-align: left;
    }
    .modal-artwork-head .info .name {
        margin-top: 1px;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        color: #333333;
    }
    .modal-artwork-head .info .style {}
    .modal-artwork-head .info .style:after {
        display: block;
        clear: both;
        content: '';
    }
    .modal-artwork-head .info .style span {
        display: block;
        position: relative;
        float: left;
        padding-right: 12px;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.39px;
        color: #8b8a8a;
    }
    .modal-artwork-head .info .style span+span {
        padding-left: 13px;
    }
    .modal-artwork-head .info .style span+span:before {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: 12px;
        margin-top: -6px;
        background-color: #adadad;
        content: '';
    }
    .modal-artwork-head .favorite-btn {
        position: absolute;
        top: 16px;
        right: 20px;
    }
    .body-show-modal {
        overflow-y: hidden;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }